CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.vs
/src/week7/ExampleGame/.vs
/src/week7/ExampleGame/.vs
/src/week7/ExampleGame/.vs
/src/week7/ExampleGame/.vs
src/week7/ExampleGame/.vs/ExampleGame/v17/Browse.VC.db
*.db
/src/week7/ExampleGame/Debug
/src/week7/ExampleGame/.vs/ExampleGame/v17
/src/week7/ExampleGame/ExampleGame/Debug
